/* Login.css */
.signin-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Adjust width and height as needed */
  width: 350px; /* Adjust width according to your design */
  max-width: 80%; /* Set a maximum width to prevent excessive stretching */
  height: auto; /* Let the height adjust based on content */
}

/* Add more styling as needed */

/* .container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #222;
}

.form-group span {
  color: #888;
}

.form-group a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.form-group a:hover {
  color: #2980b9;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
